* {
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1600px;
    margin: auto;
}

.nav-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0px;
}

.link-parent {
    display: flex;
    gap: 32px;
    list-style: none;
}

.link-parent a {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 13px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
}

.open {
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    width: 229px;
    border-radius: 1000px;
    font-size: 16px;
    padding: 12px;
    font-weight: 500;
    color: #469165;
    /* margin-bottom: 16px; */
}
.early-access button{
    padding: 8px 12px ;
    border: none;
    border-radius: 1000px;
    color:#30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.btn-2 {
    padding: 16px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin-left: 16px;
    background-color: transparent;
}

.structured-thinking {
    text-align: center;
    padding-top: 131px;
    padding-bottom: 180px;
    background-image: url(./assets/hero-bg.png);
}

/* .block{
    display: flex;
    justify-content: center;
} */
.structured h2 {
    /* width: 770px;  */
    text-align: center;
    margin: 16px 295px;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
}

.structured h2 .colour {
    color: #30B868;
}

.structured p {
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;

}

.note {
    text-align: center;

}

.note h2 {
    margin-top: 80px;
    font-weight: bold;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.note p {
    line-height: 20px;
    color: #627382;
    font-size: 16px;
    margin-bottom: 44px;
}

#card-parent .card .card-img img {
    color: white;
    background: rgba(249, 85, 85, 1);
    padding: 14px;
    border-radius: 50%;
}

#card-parent .card .card-heading h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #001931;
}

#card-parent .card .card-para p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

#card-parent .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    gap: 24px;
}

#card-parent {
    display: flex;
    justify-content: space-around;
    max-width: 1360px;
    margin: auto;
    margin-bottom: 72px;
}

#second-brain-parent {
    max-width: 1360px;
    margin: auto;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 122px;
}

#second-brain-parent .second-brain-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#second-brain-parent .second-brain-info .para-one {
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
}

#second-brain-parent .second-brain-info h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

#second-brain-parent .second-brain-info .para-two {
    font-size: 16px;
    line-height: 20px;
}

#second-brain-parent .second-brain-info .clickbox p {
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    font-weight: 500px;
    margin-bottom: 16px;
}

#second-brain-parent .second-brain-info .clickbox p i {

    color: #30B868;
}

.think-more-parent {
    max-width: 1360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 88px 48px 88px 48px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    margin-bottom: 120px;
}
.think-more-parent .think-more-txt h2{
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.think-more-parent .think-more-txt p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.think-more-parent .think-more-btn button{
    padding: 12px 16px;
   margin-left: 100px; 
   margin-bottom: 16px;
   color: white;
   background-color: #30B868;
   border: none;
   border-radius: 4px;
}
.think-more-parent .think-more-btn p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.footer-upper-side{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer-parent{
    max-width: 1600px;
    height: 348px;
  
    margin: 120px 120px 0px 120px;
}
.footer-grandparent{
  background-color: #001931;
}
.footer-parent .footer-upper-side{
    padding-top: 120px;
    padding-bottom: 84px;
}
.footer-parent .footer-upper-side .icon{
    color: white;
}
.footer-parent .footer-upper-side .icon h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}
.footer-parent .footer-lower-side hr{
    margin-bottom: 30px;
}
.footer-parent .footer-lower-side p{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.btn-hover{
    cursor: pointer;
    
 
}
.btn-hover:hover{
     text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}